@import "../../css/variables.scss";

// ------ Authentication ------

.authentication {
    height: 100%;

    &.sign_up {
        height: auto;
        padding-block: 60px;
    }

    &.otp {
        form {
            .top {
                p {
                    span {
                        font-weight: 500;
                        color: $main-color;
                    }
                }
            }

            .second {
                .otp-container {
                    display: flex;
                    justify-content: center;
                    gap: 25px;

                    .form-control {
                        max-width: 80px;
                        text-align: center;

                        font-weight: 500;
                        font-size: 22px;
                        color: $main-color;

                        &:focus {
                            border: 1px solid $main-color;
                        }
                    }
                }

                .resend {
                    font-family: $dm-sans;
                    font-weight: 500;
                    font-size: 18px;
                    color: $black;

                    .resend_btn {
                        background: transparent;
                        border: 0;

                        font-weight: 700;
                        color: $main-color;
                        text-decoration: underline;

                        transition: opacity 0.3s ease;

                        &:hover {
                            text-decoration: none;
                        }

                        &:disabled {
                            opacity: 0.6;
                            cursor: not-allowed;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .row {
        --bs-gutter-x: 4.5rem;
    }

    .logo {
        margin-bottom: 30px;
    }

    form {
        border: $border;
        border-radius: 20px;

        box-shadow: 2px 4px 15px 2px $form-shadow;

        padding: 60px;

        .top {
            h2 {
                font-family: $dm-sans;
                font-weight: 600;
                font-size: 28px;
                color: $main-color;
                margin-bottom: 5px;
            }

            p {
                font-family: $dm-sans;
                font-weight: 400;
                font-size: 16px;
                color: $black;
                margin-bottom: 0;
            }
        }

        .second {
            margin-top: 25px;

            .form-label {
                font-family: $dm-sans;
                font-weight: 400;
                font-size: 18px;
                color: $black;
                margin-bottom: 0.2rem;
            }

            .form-control {
                background-color: $input-bg;
                font-family: $dm-sans;
                border: $border;
                border-radius: 6px;
                font-weight: 500;
                font-size: 18px;
                color: $black;
                padding: 10px 16px;

                &::placeholder {
                    color: $placeholder-color;
                }
            }

            .form-check {
                .form-check-input {
                    border: $border;
                    width: 20px;
                    height: 20px;
                    margin-top: 2px;

                    position: relative;

                    &:checked {
                        background-color: $main-color;
                        --bs-form-check-bg-image: none;

                        &::before {
                            display: block;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        width: 10px;
                        height: 10px;
                        background-color: $main-color;
                        border-radius: 50%;
                        display: none;
                    }
                }

                .form-check-label {
                    font-family: var(--dm-sans);
                    font-weight: 600;
                    font-size: 16px;
                    color: $black;
                    margin-left: 5px;
                }

                .form-check-input:checked+.form-check-label {
                    color: var(--blue);
                }
            }

            .forgot-password {
                a {
                    font-family: $dm-sans;
                    font-weight: 400;
                    font-size: 18px;
                    color: $black;
                }
            }

            .or {
                margin-block: 25px;

                span {
                    border: $border;
                    height: 1px;
                    flex: 1;
                }

                p {
                    font-family: $dm-sans;
                    font-weight: 400;
                    font-size: 20px;
                    color: $black;
                    margin-inline: 20px;
                    white-space: nowrap;

                }
            }

            .google_btn {
                background-color: $white;
                border: 1px solid $black;

                font-weight: 500;
                color: $black;
            }

        }
    }

    .account {
        margin-top: 30px;

        font-family: $dm-sans;
        font-weight: 400;
        font-size: 20px;
        color: $black;

        a {
            font-weight: 500;
            color: $main-color;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

// ------ Authentication ------