@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.form-control,
.form-select,
.form-check-input {
    box-shadow: none !important;
}

.cursor-pointer {
    cursor: pointer;
}


/* ------ Main-Button ------ */
.main_btn {
    background-color: $main-color;
    border: 0;
    border-radius: 6px;
    width: 100%;

    font-family: $dm-sans;
    font-weight: 600;
    font-size: 22px;
    color: $white;

    padding-block: 12px;
}


/* ------ Theme-Css ------ */

body {
    background-color: $bg-color;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* ------ ThemeToggle ------ */
.theme-toggle {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: $bg-color;
    color: $black;
    border: 2px solid $black;
    border-radius: 50%;
    padding: 10px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    transition: all 0.3s ease;

    &:hover {
        background-color: $black;
        color: $white;
    }
}