/* ------ Variable ------ */

/* ------ Fonts ------ */
/* -- DM Sans -- */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* -- Font-Family -- */
$dm-sans : 'DM Sans',sans-serif;


/* -- Color -- */
$main-color: #00643C;
$black: #000000;
$white: #ffffff;

$color1: #313131;




/* -- Form-Input -- */
$border: 1px solid #E4E4E4;