/* ------ Variable ------ */

/* ------ Fonts ------ */
/* -- DM Sans -- */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



:root {
    --white1: #ffffff;
    --main-color: #00643C;

    --bg-color: #ffffff;
    --black: #000000;
    --white: #ffffff;

    --border-color: #00000033;
    --input-bg: #00000005;
    --placeholder-color: #313131;
    --form-shadow: #0000000D;
    --otp-color: #00643C;
}


[data-theme='dark'] {
    --bg-color: #000000;
    --black: #ffffff;
    --white: #000000;

    --border-color: #FFFFFF33;
    --input-bg: #FFFFFF05;
    --placeholder-color: #313131;
    --form-shadow: #FFFFFF0D;
    --otp-color: #ffffff;
}


/* -- Font-Family -- */
$dm-sans : 'DM Sans', sans-serif;


/* -- Color -- */
// $main-color: #00643C;
// $black: #000000;
// $white: #ffffff;


$white1: var(--white1);

$bg-color: var(--bg-color);
$main-color: var(--main-color);
$black: var(--black);
$white: var(--white);



/* -- Form-Input -- */
$border: 1px solid var(--border-color);
$input-bg: var(--input-bg);
$placeholder-color: var(--placeholder-color);
$form-shadow: var(--form-shadow);   
$otp-color: var(--otp-color);   